[submodule "qmltermwidget"]
	path = qmltermwidget
	url = https://github.com/venus-fire/qmltermwidget.git
	branch = sixel-support
[submodule "KDSingleApplication"]
	path = KDSingleApplication
	url = https://github.com/KDAB/KDSingleApplication.git
